Source: ros-noetic-hri-safe-remote-control-system
Section: misc
Priority: optional
Maintainer: Greenzie Developers <developers@greenzie.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-genmsg, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-hri-safe-remote-control-system
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-genmsg, ros-noetic-message-runtime, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs
Description: HRI Library for Serial Communication in ROS
